%body.bg
  .container-fluid(ng-controller="MountCtrl")
    = image_tag("bg/cloud1.png", class: "cloud img-responsive col-xs-1 x1")
    = image_tag("bg/cloud2.png", class: "cloud img-responsive col-xs-3 x2")
    = image_tag("bg/cloud3.png", class: "cloud img-responsive col-xs-2 x3")
    = image_tag("bg/cloud1.png", class: "cloud img-responsive col-xs-1 x4")
    = image_tag("bg/cloud2.png", class: "cloud img-responsive col-xs-4 x5")
    = image_tag("bg/cloud3.png", class: "cloud img-responsive col-xs-2 x6")
    
   
    .controls
      %label Filter:
      %button.filter{"data-filter" => "all", "ng-click"=>"ad()"} All
      %button.filter{"data-filter" => ".category-1", "ng-click" =>"checkHide()" } Category 1
      %button.filter.active{"data-filter" => ".category-2"} Category 2
      %button.filter{"data-filter" => ".category-3"} Category 3
      %label Sort:
      %button.sort{"data-sort" => "myorder:asc"} Asc
      %button.sort{"data-sort" => "myorder:desc"} Desc
      %button(ng-click="addTab()") Add Tab
      %button
        {{tab}}
      %label Change Layout:
      %button#ChangeLayout(ng-click="changeList()") List
    .col-xs-12
      .row(ng-repeat="p in posts" )
        .col-xs-12(ng-show="$index == tab" id="{{newIsClass($index)}}")      
          %h2
            {{$index}}
          .container-main(class="{{isList()}}")
           
            //.grid.mix(ng-repeat="post in p" class="{{isClass(post)}} " data-myorder="{{post.id}}" )
            .grid.mix(ng-repeat="post in p" class="{{isClass(post)}} " data-myorder="{{post.id}}" ng-hide="isHide($index)")
              %figure.effect-lily
                %img.image(ng-if="post.asset.url" src="{{post.asset.url }}")
                %figcaption
                  %h2
                    Nice
                    %span Lily
                  %p {{post.title}}
                  %a{:href => "#"} View more
     

    
    
