%body.bg
  .container-fluid(ng-controller="MountCtrl")
    = image_tag("bg/cloud1.png", class: "cloud img-responsive col-xs-1 x1")
    = image_tag("bg/cloud2.png", class: "cloud img-responsive col-xs-3 x2")
    = image_tag("bg/cloud3.png", class: "cloud img-responsive col-xs-2 x3")
    = image_tag("bg/cloud1.png", class: "cloud img-responsive col-xs-1 x4")
    = image_tag("bg/cloud2.png", class: "cloud img-responsive col-xs-4 x5")
    = image_tag("bg/cloud3.png", class: "cloud img-responsive col-xs-2 x6")
    
   
    .col-xs-12
      .button-group.pull-right.arrow-buttons
       
          
       
        %button.btn-sky.btn(ng-click="power_off()")
          %i.fa.fa-power-off.fa-2x
        %button.btn-sky.btn(ng-click="power_off()")
          %i.fa.fa-book.fa-2x

        %button.btn-sky.btn.sort(ng-click="subTab()") 
          %i.fa.fa-arrow-left.fa-2x
        %button.btn-sky.btn(ng-click="addTab()")
          %i.fa.fa-arrow-right.fa-2x
      
    .col-md-12
      .row
        .col-md-12      
          %h2
            Choose your level
          .container-main(ng-hide="power_flag" )
           
            //.grid.mix(ng-repeat="post in p" class="{{isClass(post)}} " data-myorder="{{post.id}}" )
            
            .view.view-tenth.post.anima.square( ng-repeat="post in p" )
              
              %figure(ng-class="is_asset(post.asset.url)")
                %img(ng-if="post.asset.url" src="{{post.asset.url }}")       

                %figcaption.mask
                  %h2.base-class
                    STRA
                    %span PON
                  %p {{post.title}}
                  %p

                  %a.info(ng-click="clicked('run')" href="/posts/{{post.id}}")
                    %i.fa.fa-arrow-up.fa-2x.base-class(class="{{myVar1}}")
                  %a.info(href="#" ng-click="add_post(post.id, 'my-class', $index)" data-toggle="tooltip" data-placement="bottom" title="Прочитать потом")
                    %i.fa.fa-pause.fa-2x.base-class(class="{{p[$index].myVar}}")
                 
              
     

    
    
