%body.backg(ng-controller="MainPostDetailCtrl")
  .container-fluid
    
    .row.yar
      
      #wrapper.col-xs-12
        #sidebar.cola( data-spy="affix" data-offset-top="10")
          %ul.nav.nav-stacked
            %li.active{:role => "presentation"}
              %a(href="#{index_path}")
                
                = image_tag("menu/track.png",class: "img-responsive", size: "64x64" )
                  
                %p.inline Главная
           
          %ul.nav.nav-stacked(ng-hide="hidden_flag")
            %li
              %a(href=cart_path)

                = image_tag("menu/forward.png",class: "img-responsive", size: "64x64" )

                %p.inline Читаемое


            %li(ng-show="flag_handler(index_obj.b_ind)")
              %a(href="/posts/{{index_obj.b_ind}}")

                = image_tag("menu/back.png",class: "img-responsive", size: "64x64" )

                %p.inline <

            %li(ng-show="flag_handler(index_obj.f_ind)")
              %a{:href => "/posts/{{index_obj.f_ind}}"}

                = image_tag("menu/bull.png",class: "img-responsive", size: "64x64" )

                %p.inline Дальше
            
          %ul.nav.nav-stacked 
            %li(ng-hide="user.anonym")
              %a(ng-click="logout()" href="#")
              
                = image_tag("menu/egg.png",class: "img-responsive", size: "64x64" )
                
                %p.inline Выйти
            %li{:role => "presentation"}
              %a{:href => "#"} Profile
            %li{:role => "presentation"}
              %a{:href => "#"} Messages
              
            
           
             
        #content.x(ng-class="isClass()")
          #tar.col-xs-12
            .err.btn-group-vertical(data-spy="affix" data-offset-top="0")
              
              %button.btn.btn-sunny(ng-show="include_flag" ng-click="delete_post()" data-toggle="tooltip" data-placement="bottom" title="Убрать из читаемого")
                %i.fa.fa-close.fa-2x
              %button.btn.btn-fresh(ng-click="changeClass()" )
                %i.fa.fa-paperclip.fa-2x
              %button#toggle.btn.btn-fresh(ng-click="tool.add_limit()" ng-show="check_bottom()")
                %i.fa.fa-plus.fa-2x
                %i.fa.fa-comment.fa-2x
              %button.btn.btn-fresh(type ="button" ng-click="merge()" ng-show="dara")
                %i.fa.fa-comments.fa-2x
                %span.badge {{lena}}
          
              
          .col-xs-12.ttt
            
           
            %h1.bender.col-xs-8.col-xs-offset-2= @post.title.html_safe
            .col-xs-9.col-xs-offset-1
              %img.img-thumbnail(src="#{@post.asset.url}")
            #text.col-xs-9.col-xs-offset-1= @post.text.html_safe
          //= render :partial => "form"
         
          .col-xs-12
            .col-xs-11.col-xs-offset-1
              .media
                %a.pull-left{:href => "#"}
                  %img{:alt => "...", :src => "http://placehold.it/128x128"}
                .media-body
                  %h4.media-heading= @post.user.name
                  %p= @post.user.bio
                  
         
          .col-xs-12.comments-panel
            .col-xs-11.col-xs-offset-1
              .bs-example
                .panel.panel-default
                  .panel-body Комментарии
                  
                  .panel-footer.clearfix
                    .pull-left
                      
                      %button.btn.btn-fresh(type ="button" ng-click="merge()" ng-show="dara")
                        Messages
                         
                        %span.badge {{lena}}
                    .pull-right
                      
                      %button.btn.btn-fresh(ng-click="add(0, {id: id, type: 'Post', path: '0' })") 
                        %i.fa.fa-reply.fa-2x
                      
                     
              
              .media.animate-repeat.main-media( class="col-xs-offset-{{get_offset(num.class_num)}}" ng-repeat="num in tool.arr|limitTo: tool.DF " ng-cloak ng-class="isRedClass(num)")
                %div(ng-if="num.red")
                  = render :partial => "form"
                .media(ng-if="!num.red")
                  .pull-left
                    %img.media-object{:class => "user-image", :alt => "Media Object", :src => "{{set_image(num.user.image)}}"}
                  .media-body
                    
                    %h4.media-heading.text-center
                      {{set_name(num.user.name)}}
                      %span
                        %i.fa.fa-arrow-right.fa-1x
                        %span
                          {{set_name(num.commentable.user.name)}}
                      %small.pull-right {{num.created_at| date:'yyyy-MM-dd HH:mm:ss Z'}}
                    
                    .col-xs-12.center-block.comment-text
                      %p(ng-bind-html="num.text ")
                      
                       
                    .col-md-12
                      .btn-group
                        %button.btn.btn-fresh(ng-click="add($index, {id: num.id, type: 'Comment', path: num.path, name: tool.name_to_reply(num) })")
                          %i.fa.fa-reply.fa-2x
                        
             
